body {
    margin: 0;
    margin-top: 25px;
    font-family: georgia;
    background-color: #fff;
}

header {
    display: flex;
    position: center;
    top: 25px;
    left: 0;
    right: 0;
    height: 125px;
    line-height: 125px;
    background-color: #EFEFEF;
    align-items: center;
    justify-content: center;
}

header * {
    display: inline;
    height: 100px;
}

header ul {
    padding: 25px;
}

header il {
    margin-left: 10px;
}

section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inner-gallery {
    text-align: center;
}

#hero .profile {
    width: auto;
    max-width: 600px;
}

.profile-img {
    width: auto;
    max-width: ;
}

.title {
    width: 300px;
}

footer {
    text-align: center;
    color: #000;
    padding: 50px;
    background-color: #EFEFEF;
}

#hero h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2em;
}

section h3 {
    font-size: 1em;
}

header a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    font-family: times;
}

pre {
  display: block;
  font-family: georgia;
  white-space: pre;
  margin: 2em 0;
}

/* START OF SECTION BACKGROUND IMG CONTROL */
#hero {
    background-image: linear-gradient(rgba(255,255,255,0.50),rgba(255,255,255,0.50)), url('https://i.ibb.co/mtbS2dj/DSC-2098.jpg');
    background-color: #ffffff;
}

#personal {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://i.ibb.co/D9S7xc2/DSC-2735.jpg');
}

#gallery {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('insert link here');
}

#invest {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('insert link here');
}

#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('insert link here');
}

/* END OF SECTION BACKGROUND CONTROL */

.photo {
    height: 300px;
}

.gallery {
    float: center;
    width: 10px;
    background: #454545;
}

/* START OF GALLERY */

.row {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 8px;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    justify-content: center;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#nav {
    overflow: hidden;
}



/* END OF GALLERY */
